/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

$black: #21252b;
$background: #282C34;
$red: #e06c75;
$green: #98c379;
$yellow: #e5c07b;
$blue: #61afef;
$purple: #c678dd;
$aqua: #56b6c2;
$white: #abb2bf;
$mtuGold: #ffcd00;
$mtuBlack: black;
